extends ../layouts/application.pug

block content
  +formFor(t('views.users.change_password.caption'))(class='simple_form_new_user' novalidate action=route('updatePassword', { email }) method='post')&attributes(attributes)
    +input(formData, 'oldPassword', t('views.users.change_password.old_password'), errors)(type='password')
    +input(formData, 'password', t('views.users.password'), errors)(type='password')
    +input(formData, 'confirm', t('views.users.confirm'), errors)(type='password')
    +submitFor('PUT')(value = t('views.edit.submit'))

