extends ../layouts/application.pug

block content
  +formFor(t('views.users.edit.caption'))(class='form-group' novalidate action=route('updateUser', { email: formData.email }) method='post')&attributes(attributes)
    +input(formData, 'email', t('views.users.email'), errors)(class="string email")
    +input(formData, 'firstname', t('views.users.firstname'), errors)
    +input(formData, 'lastname', t('views.users.lastname'), errors)
    +input(formData, 'role', t('views.users.role'), errors)(readonly)
    a(href=route('getChangePasswordForm', { email: formData.email }))= t('views.users.edit.change_password')
    +submitFor('put')(value = t('views.edit.submit'))

