extends ../layouts/application.pug

block header
  = t('views.users.new.caption')

block content
  +formFor()(novalidate action=route('registerUser')  method='post')&attributes(attributes)
    .form-row
      +addInput('input', formData, 'email', t('views.email'), { errors , divClass: 'col-md-3 mb-3'})(type='email')
      +addInput('input', formData, 'firstname', t('views.users.firstname'), { errors , divClass: 'col-md-4 mb-3'})
      +addInput('input', formData, 'lastname', t('views.users.lastname'), { errors , divClass: 'col-md-5 mb-3'})
    .form-row
      +addInput('input', formData, 'password', t('views.password'), { errors , divClass: 'col-md-5 mb-3'})(type='password')
      +addInput('input', formData, 'confirm', t('views.users.confirm'), { errors , divClass: 'col-md-5 mb-3'})(type='password')
      +addInput('input', formData, 'role', t('views.users.role'), { errors , divClass: 'col-md-2 mb-3'})(readonly)
    +submit(value= t('views.edit.submit'))

