extends ../layouts/application.pug

block header
  = t('views.users.changePassword.caption')

block content
  +formFor()(novalidate action=route('updatePassword', { userId }) method='post')&attributes(attributes)
    +addInput('input', formData, 'oldPassword', t('views.users.changePassword.oldPassword'), { errors, divClass: 'mb-3' })(type='password')
    +addInput('input', formData, 'password', t('views.password'), { errors, divClass: 'mb-3' })(type='password')
    +addInput('input', formData, 'confirm', t('views.users.confirm'), { errors, divClass: 'mb-3' })(type='password')
    +submitFor('PUT')(value = t('views.edit.submit'))

