extends ../layouts/application.pug

block content
  .jumbotron
    .display-4= t('views.welcome.index.hello')
    p.lead= t('views.welcome.index.description')
    hr
    a.btn.btn-primary.btn-lg(href=route('login'))= t('layouts.application.register')
