extends ../layouts/application.pug

block content
  +formFor(t('views.session.new.login'))(class='simple_form new_user_sign_in_type' novalidate='novalidate' action=route('login') method='post')
    +input(formData, 'email', errors)(class='required user_sign_in_type_email' type='text')
    +input(formData,'password', errors)(class='required user_sign_in_type_password' type='password')
    +submit(value=t('views.session.new.submit'))
