extends ../layouts/application.pug

block content
  +formFor(t('views.session.new.login'))(class='simple_form new_user_sign_in_type' novalidate='novalidate' action=route('login') method='post')
    +addInput('input', formData, 'email', t('views.email'), { errors, divClass: 'mb-3'})(type= 'text')
    +addInput('input', formData, 'password', t('views.password'), { errors, divClass: 'mb-3'})(type= 'password')
    +submit(value=t('views.session.new.submit'))
