extends ../layouts/application.pug

block content
  - const formCaption = t('views.taskStatuses.edit.caption')
  +formFor(formCaption)(action=route('updateTaskStatus', { id: formData.id }) method='post')&attributes(attributes)
    +input(formData, 'name', t('views.taskStatuses.name'), errors)(
      placeholder= formData.name)
    +submitFor('put')(value = t('views.edit.submit'))
