extends ../layouts/application.pug

block content
  +formFor(t('views.taskStatuses.edit.caption'))(class='form-group' action=route('updateTaskStatus', { id: formData.id }) method='post')&attributes(attributes)
    +input(formData, 'name', errors)(
      class = "form-control"
      placeholder= formData.name)
    +submitFor('put')(value = t('views.taskStatuses.edit.update'))
