extends ../layouts/application.pug

block nav-items
  +tasksNavItems

block header
  = t('views.taskStatuses.edit.caption')

block content
  +formFor()(action=route('updateTaskStatus', { id: formData.id }) method='post')&attributes(attributes)
    .form-row
      +addInput('input', formData, 'id', t('views.id'), { errors, divClass: 'col-md-2 mb-3'})(readonly)
      +addInput('input', formData, 'name', t('views.taskStatuses.name'), { errors, divClass: 'col-md-6 mb-3' })
    +submitFor('put')(value = t('views.edit.submit'))
