extends ../layouts/application.pug

block nav-items
  +tasksNavItems

block header
  = t('views.taskStatuses.create.caption')

block content
  +formFor()(action=route('createTaskStatus') method='post')
    div.form-group.col-md-10
      +addInput('input', formData, 'name', t('views.taskStatuses.name'), { errors, divClass: 'mb-3' })
      +submit(value = t('views.taskStatuses.create.submit'))
